/* General Styles */
body {
    font-family: Arial, sans-serif; /* Provide a fallback font */
    line-height: 1.6;
    margin: 0;
    color: #000000; /* Fallback text color */
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header h1 {
    color: #002ffec6; /* Light blue color */
}

header a {
    text-decoration: none;
}

/* Project Section Styles */
section h2, section h3 {
    color: #1a20b7c8;
}

section ul {
    list-style: none;
    padding: 0;
}

section li {
    margin-bottom: 10px;
}

/* Image Styles */
section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Icon Styles */
.icons img {
    vertical-align: middle;
    margin-right: 10px;
}