/* Homepage Styles */
section a {
    text-decoration: none; /* Remove underline */
    color: inherit;         /* Inherit color from parent */
}

/* Header Styles */
header {
    text-align: center; /* Center all elements within the header */
}

header img { /* Specifically target the logo image */
    display: block;    /* Make the image a block element */
    margin: 0 auto 20px; /* Top/bottom margin of 0, left/right auto for centering */
}

/* General Styles */
body {
    font-family: 'Lato', sans-serif; /* Use Lato for body text */
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    color: #000000;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header h1 {
    font-family: 'Abril Fatface', cursive; /* Use Abril Fatface for h1 */
    font-size: 40px;
    color: #000000;
}

header a {
    text-decoration: none;
}

/* Project Section Styles */
section h2 {
    font-family: 'Abril Fatface', cursive; /* Use Abril Fatface for h2 */
    font-size: 28px;
    color: #000000;
}

section h3 {
    font-family: 'Abril Fatface', cursive; /* Use Abril Fatface for h3 */
    font-size: 24px;
    color: #000000;
}

section h4 {
    font-family: 'Lato', sans-serif; /* Use Lato for h4 */
    font-weight: 700;               /* Make h4 bold */
    font-size: 20px;
    color: #70706f;
}

section ul {
    list-style: none;
    padding: 0;
}

section li {
    margin-bottom: 10px;
}

/* Image Styles */
section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Icon Styles */
.icon-links {
    display: flex; /* Enable flexbox for icons */
    justify-content: center; /* Center icons horizontally */
    align-items: center; /* Center icons vertically */
    margin-top: 10px; /* Add top margin for spacing */
}

.icon-link img {
    vertical-align: middle;
    margin-right: 20px; /* Add right margin for spacing */
}

.icon-link img:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

/* "Go to main" Link Styles */
.go-to-main {
    text-align: center; /* Center the link */
    margin-top: 10px; /* Add top margin for spacing */
}

.go-to-main h4 {
    font-family: "Sequel Sans Bold Head", sans-serif; /* Updated font family */
    font-size: 18px; /* Updated font size */
    color: #000000;
}

.profile-info {
    max-width: 450px; /* Or adjust to your preferred width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px; /* Add padding for visual comfort */
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}

.phd {
    font-family: 'Lato', sans-serif; /* Use Lato for h4 */
    font-weight: bold;               /* Make h4 bold */
    font-size: 20px;
    color: #70706f;
  }

  .about-me h4 {
    font-family: 'Lato', sans-serif; /* Use the Lato font family */
    font-size: 18px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    margin-bottom: 5px; /* Add some bottom margin for spacing */
  }

  header {
    text-align: center; /* Center all elements within the header */
  }

  .portfolio-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .portfolio-columns .research-projects,
  .portfolio-columns .personal-projects {
    width: 48%;
  }

  .portfolio-columns .project img {
    width: 100%;
    height: auto;
  }

  .portfolio-columns .project {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .portfolio-columns {
      flex-direction: column;
    }
    .portfolio-columns .research-projects,
    .portfolio-columns .personal-projects {
      width: 100%;
    }
  }

  /* iframe Styles (like the plotly sankey) */

  .iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    max-width: 100%; /* Ensure it doesn't exceed its parent's width */
    margin: 0 auto; /* Center the iframe container */
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (max-width: 768px) { /* Adjust breakpoint as needed */
    .iframe-container {
      padding-bottom: 100%; /* Change aspect ratio for mobile */
    }
  }