<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% seo %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="wrapper">
    <header>
      <h1 class="site-title"><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="phd">Data Scientist | PhD</h2>
      {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="Logo" style="width: 300px; height: auto;" />
      {% endif %}
      <div class="about-me">
        <h2>About Me</h2>
      </div>
      <div class="profile-info">
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <div class="icon-links">
          <a href="https://www.linkedin.com/in/ezequielmrivero/" class="icon-link" aria-label="LinkedIn Profile">
            <img src="/images/linkedin.svg" alt="" width="32" height="32">
          </a>
          <a href="https://github.com/ezemriv" class="icon-link" aria-label="GitHub Profile">
            <img src="/images/github.svg" alt="" width="32" height="32">
          </a>
          <a href="https://scholar.google.com/citations?user=Bg4eGzkAAAAJ&hl=en" class="icon-link" aria-label="Google Scholar Publications">
            <img src="/images/publications.svg" alt="" width="32" height="32"> 
          </a>
        </div>
      </div>
    </header>
    <hr>
    <main>
      <h1 class="portfolio-title">PORTFOLIO</h1>
      <hr>
      <div class="portfolio-grid">
        <div class="research-projects">
          <h1 class="project-category-title">Research Projects</h1>
          <div class="project">
            {% capture research_projects %}
            {% include_relative research_projects.md %}
            {% endcapture %}
            {{ research_projects | markdownify }}
          </div>
        </div>
        <div class="personal-projects">
          <h1 class="project-category-title">Personal Projects</h1>
          <div class="project">
            {% capture personal_projects %}
            {% include_relative personal_projects.md %}
            {% endcapture %}
            {{ personal_projects | markdownify }}
          </div>
        </div>
      </div>
    </main>
    <hr>
    <footer>
      <p><small>Hosted on GitHub Pages</small></p>
    </footer>
  </div>
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</body>
</html>
