<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ '/' | absolute_url }}" style="color: black;">{{ site.title | default: site.github.repository_name }}</a></h1>
      <div class="icon-links">
        <a href="https://www.linkedin.com/in/ezequielmrivero/" class="icon-link">
          <img src="/images/linkedin.svg" alt="LinkedIn Profile" style="width:32px; height:32px; margin-right: 10px;">
        </a>
        <a href="https://github.com/ezemriv" class="icon-link">
          <img src="/images/github.svg" alt="GitHub Profile" style="width:32px; height:32px; margin-right: 10px;">
        </a>
        <a href="https://scholar.google.com/citations?user=Bg4eGzkAAAAJ&hl=en" class="icon-link">
          <img src="/images/publications.svg" alt="Google Scholar Publications" style="width:32px; height:32px;">
        </a>
      </div>
    </header>
    <hr> <!-- This adds a horizontal line -->
    <section>
      {{ content }}
    </section>
    <hr> <!-- This adds a horizontal line -->
    <footer>
        <div class="go-to-main">
            <h4><a href="{{ '/' | absolute_url }}">Go to main</a></h4>
          </div>  
      <p><small>Hosted on GitHub Pages</small></p>
    </footer>
  </div>
</body>
</html>
